.faq-container {
    display: grid;
    place-items: center;
    margin-top: 20vw;
    width: 100%;
  }
  
  .faq-item {
    border: 2px solid white;
    color: white;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 60vw;
    max-width: 600px;
  }
  
  .faq-question {
    font-weight: bold;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 0 10px;
  }
  
  .faq-answer.open {
    max-height: 2000px; /* Arbitrary large height, adjust as needed */
    padding: 10px;
  }
  